.env
/backend/node_modules
/backend/dist
/frontend/node_modules
/frontend/dist
/backend/**/.gradle/
.DS_Store
.vscode
.idea
.frontend-angular/
*.log
*.bak
*.tmp
*.swp
*.swo
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.env.*.local
*.pem
*.key
*.crt
*.pfx
*.cer
*.csr
*.der
*.jks
*.keystore
*.p12
*.p7b
frontend.zip
frontend.zip
